doctype html

head
    meta(charset="utf-8")
    link(rel="stylesheet", href="../styles/style.css")
    title Rock - Paper - Scissors GAME
body
    header 
        h1 Rock - Paper - Scissors
    
    button#button-reset Reset the scores! 

    div.score-board 
        div.lastChoice
            img.lastChoiceImg#last-userChoice(src="../images/empty_plank.png", alt="Her should be an image of the user's last choice.") 
        div.lastChoice
            img.lastChoiceImg#last-compChoice(src="../images/empty_plank.png", alt="Her should be an image of the comp's last choice.")
        div.badge#user-label user 
        div.badge#comp-label comp 
        span.streak#user-streak 
        span#user-score 0
        span :
        span#comp-score 0
        span.streak#comp-streak 
    
    div.result 
        p#result-label GAME ON! 
    
    div.choices 
        div.choice 
            img#rock(src="../images/rock_plank.png" alt="Here should be a rock image!")
        div.choice 
            img#paper(src="../images/paper_plank.png" alt="Here should be a paper image!")
        div.choice 
            img#scissors(src="../images/scissors_plank.png" alt="Here should be a scissors image!")
    
    p#action-message Make your move ...

    script(src="../scripts/game.js")